p{
  background-color: #FFC133;
  display:block;
  height: 150px;
  padding: 10px;

}

.franja-central{
  color:white;
  background-color: #545250;
  display:block;
  height: 150px;
  padding: 10px;

}
